<div class="wrapper" fxLayout="column">
  <div class="header" fxLayout="row" fxLayoutGap="5px">
    <div><a [href]="user.url" target="_blank">{{user.username}}</a></div>
    <div class="spacer"></div>
    <button class="button is-text is-light" [class.is-link]="panel === 'projects'" (click)="showPanel('projects')">Projects</button>
    <button class="button is-text is-light" [class.is-link]="panel === 'gists'" (click)="showPanel('gists')">Gists</button>
  </div>
  
  <div class="content">
    <app-projects *ngIf="panel === 'projects'"></app-projects>
    <app-gists *ngIf="panel === 'gists'"></app-gists>
  </div>
</div>