<div class="wrapper" fxLayout="column">

  <div class="name">
    <a [href]="project.url" target="_blank">{{project.displayName}}</a>
  </div>

  <div *ngIf="hasBadges" class="badges">
    <ng-container *ngFor="let badge of project.badges">
      <img [src]="badge.status">
    </ng-container>
  </div>

  <div *ngIf="hasTechnologies">
    <div class="technologies pills">
      <div class="pill" *ngFor="let tech of project.technologies">
        {{tech}}
      </div>
    </div>
  </div>

  <div fxFlex fxLayout="row" fxLayoutAlign="center center" class="description">
      <div style="text-align: center;">{{project.description}}</div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div><a [href]="project.readmeURL" target="_blank" *ngIf="hasReadme">README</a></div>
    <div>{{project.status}}</div>
  </div>
</div>